# Spotify Developer app credentials
# https://developer.spotify.com/dashboard
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=adagio://callback

# GetSongBPM.com API key
# https://getsongbpm.com/api
GETSONGBPM_API_KEY=

# Server
PORT=3000
